<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead">
</head>
<body>

	<div th:replace="template :: navigation"></div>

	<h1>Add a Food</h1>
	<form method="post">
	    <table>
	        <tr>
	            <td><label>Food Name</label></td>
	            <td>
	                <input name="foodname" type="text" th:value="${foodname}"></input>
	                <span class="error" th:text="${foodname_error}"></span>
	            </td>
	        </tr>
	        <tr>
	            <td><label>Calories</label></td>
	            <td>
	                <input name="calories" type="text" th:value="${calories}"></input>
	                <span class="error" th:text="${calorie_error}"></span>
	            </td>
	        </tr>
	        <tr>
	            <td><label>Fats</label></td>
	            <td>
	                <input name="fats" type="text" th:value="${fats}"></input>
	                <span class="error" th:text="${fats_error}"></span>
	            </td>
	        </tr>
	        <tr>
	            <td><label>Carbohydrates</label></td>
	            <td>
	                <input name="carbohydrates" type="text" th:value="${carbohydrates}"></input>
	                <span class="error" th:text="${carbohydrates_error}"></span>
	            </td>
	        </tr>
	        <tr>
	            <td><label>Proteins</label></td>
	            <td>
	                <input name="proteins" type="text" th:value="${proteins}"></input>
	                <span class="error" th:text="${proteins_error}"></span>
	            </td>
	        </tr>
	    </table>
	    <button type="submit">Add Food</button>
	</form>

</body>
</html>